### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Ignora compilados Java
bin/
*.class

# Ignora arquivos temporários do Windows
Thumbs.db
desktop.ini

# Ignora backups acidentais
*.bak
*.tmp

# Ignora arquivos do Bloco de Notas
*.lox.txt
# Ignorar compilados
bin/
*.class

# Ignorar IntelliJ
.idea/
*.iml

# Ignorar arquivos temporários
out/
test-output.txt
*.tmp
